

// Import Materialize

@import '../../node_modules/materialize-sass-origin/sass/materialize.scss';
@import './default.css';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.nav-wrapper{

}

.navbar-fixed{
  height: 100px;
  color: black;


  nav{
    background-color: white;
    height: 100px;
    color: black;
    // box-shadow: none;


    .brand-logo{
      width: 270px;
      margin-left: 50px;
      margin-top: 25px;

    }
  }

}

.floating-nav{
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 100;
  width: 650px;
  display: flex;
  // box-shadow: 0 10px 10px -10px black;
}

.floating-bar{
  background-color: white;
}



nav ul li a{
  color: black;
}

.banner{
  overflow: hidden;
  box-shadow: inset 10px 10px 10px -10px black;
}

.banner-box{
  height: 500px;
  width: 100%;
  // position: absolute;
  background-image: url('../images/banner_home.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  // background-position-x: right;
  // background-position-y: 100%;
  transform: scale(1.5);
  // overflow: hidden;

  .banner-text{
    width: 51%;
    min-height: 500px;
    background-color: #EEF0F2;
    transform: skewX(-25deg);
  }

  .banner-bottom{
    background-color: white;
    height: 150px;
    position: relative;
    top: 270px;
  }
}

.para-comp{
  height: 520px;
}

.para-tab{
  height: 350px;
}


.tool{
  background-color: #43BD98;
  height: 522px;
}

.key{
  background-color: #43BD98;
  height: 522px;

}

.atom{
  background-color: #43BD98;
  height: 522px;

}

.block-4{
  height: 345px;
  overflow: hidden;
  background: linear-gradient(to right, #EEF0F2, #EEF0F2, #535456, #535456, #535456, #535456);
}

.para-comp{

}

footer.page-footer{
  background-color: #535456;
  margin: 0;
}

.row{
  margin-bottom: 0;
}

.left-block{
  background-color: #EEF0F2;
  height: 345px;
  transform: skewX(-25deg);
}



// #43BD98 teal

// transform: skew(45deg) for slanted block in header
