
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Materialize

@import '../../node_modules/materialize-sass-origin/sass/materialize.scss';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.navbar-fixed{
  height: 140px;
  color: black;

  nav{
    background-color: white;
    height: 140px;
    color: black;


    .brand-logo{
      width: 270px;
      margin-left: 50px;

    }
  }

}

nav ul li a{
  color: black;
}

.banner{
  // height: 500px;
  width: 100%;
  background-image: url('../images/banner_home.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  // background-position-x: right;
  // background-position-y: 100%;
  transform: scale(1.7);
  // overflow: hidden;

  .banner-text{
    width: 51%;
    height: 500px;
    background-color: grey;
    transform: skewX(-25deg);
  }
}

// transform: skew(45deg) for slanted block in header
